body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: black;
  color: white;
}
nav {
  margin: auto;
  border: 10px solid orangered;
  border-radius: 20px;
  padding: 0.5rem;
  width: 50vw;
}
ul {
  display: flex;
  justify-content: space-evenly;
}
li {
  list-style: none;
  cursor: pointer;
  font-weight: 900;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
  color: orangered;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 15vw;
  gap: 1rem;
}
input {
  padding: 0.5rem;
  outline: none;
  border: none;
  border-radius: 5px;
}
button {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: royalblue;
  color: white;
  font-weight: 500;
  cursor: pointer;
}
button:hover {
  background-color: dodgerblue;
}
