<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/"> Home </a></li>
        <li><a href="/profile"> Profile </a></li>
        <li><a href="/about"> About </a></li>
        <li><a href="/signup"> Sign Up </a></li>
        <li><a href="/users"> Users </a></li>
      </ul>
    </nav>
    <center>
      <h1>Home Page</h1>
      <p>Welcome to the home page!</p>
    </center>
    <form action="getting-form-data" method="post">
      <input type="text" placeholder="username" name="username" />
      <input type="email" placeholder="email" name="email" />
      <input type="password" placeholder="password" name="password" />
      <button>Submit</button>
    </form>
    <img src="/assets/pose.png" width="220px" alt="">
  </body>
</html>
