<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 20px;
        background-color: black;
        color: white;
      }
      nav{
        margin: auto;
        border: 10px solid orangered;
        border-radius: 20px;
        padding: .5rem;
        width: 50vw;
      }
      ul{
        display: flex;
        justify-content: space-evenly;
      }
      li{
        list-style: none;
        cursor: pointer;
        font-weight: 900;
      }
      a{
        text-decoration: none;
        color: white;
      }
      a:hover{
        text-decoration: underline;
        color: orangered;
      }
    </style>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/"> Home </a></li>
        <li><a href="/profile"> Profile </a></li>
        <li><a href="/about"> About </a></li>
        <li><a href="/signup"> Sign Up </a></li>
        <li><a href="/users"> Users </a></li>
      </ul>
    </nav>
    <center>
      <h1>Profile Page</h1>
      <p>Welcome to the profile page!</p>
    </center>
  </body>
</html>
